<nav class="navbar navbar-expand-md py-3" aria-label="Fourth navbar example">
  <div class="container-fluid">
    <a class="navbar-brand px-5" href="javascript:void(0)">
      <img routerLink="/" class="position-absolute top-0 start-0" src="assets/speedyfix-text-logo.png" width="100" height="75" />
    </a>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [class.justify-content-end]="!authService.isAuthenticated()" class="navbar-collapse collapse" id="navbarsExample04" style="">
      @if(authService.isAuthenticated()) {
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          @for(route of routes; track route.path) {
            <li class="nav-item">
              <a class="nav-link text-white" [routerLink]="route.path" routerLinkActive="active">
                {{ route.label }}
              </a>
            </li>
          }
        </ul>
      }
      @if (!authService.isAuthenticated()) {
        <button routerLink="login" class="btn btn-primary d-inline-flex align-self-end align-items-center" style="padding-right: 4px;" type="button">
          Log In
          <mat-icon>chevron_right</mat-icon>
        </button>
      }
    </div>
  </div>
</nav>
