<div class="container py-4 my-4">
  <div class="text-center">
    <img class="d-block mx-auto mb-4" src="../../../assets/speedyfix-text-logo.png" alt="" width="130" height="100">
    <h1 style="font-size: 2.2em; font-weight: bold">Welcome to Home</h1>
  </div>
  <div style="max-width: 50rem;padding: 1rem;" class="w-100 m-auto">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title> Australian Shepherd</mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button>Learn More</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
