<h2 mat-dialog-title>{{ title }}</h2>
<mat-dialog-content>
  <form [formGroup]="formGroup">
    <app-input-field
      [formControlName]="formControlNames.name"
      label="Name:"
      placeholder="Enter operation name"
    ></app-input-field>
    <app-input-field
      [formControlName]="formControlNames.price"
      label="Price:"
      type="number"
      placeholder="Enter operation price"
    ></app-input-field>
    <app-textarea-field
      [formControlName]="formControlNames.description"
      label="Description"
      placeholder="Enter operation description"
    ></app-textarea-field>
    <div class="d-flex flex-column gap-1">
      <label>
        <span>*</span>
        Employees
      </label>
      <mat-form-field appearance="outline" class="w-100">
        <mat-chip-grid #chipGrid [formControl]="$any(formGroup.controls.employees)">
          @for (employee of formGroup.controls.employees.value; track employee.id) {
            <mat-chip-row [value]="employee" (removed)="remove(employee.id)">
              {{ employee.user.firstName + " " + employee.user.lastName }} ({{ employee.position }})
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
          }
        </mat-chip-grid>
        <input placeholder="New Fruit..." #employeesInput [formControl]="employeesCtrl"
               [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"/>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          @for (employee of $employees(); track employee.id) {
            <mat-option [value]="employee">
              {{ employee.user.firstName + " " + employee.user.lastName }} ({{ employee.position }})
            </mat-option>
          }
        </mat-autocomplete>
        @if (formGroup.controls.employees.invalid && formGroup.controls.employees.touched) {
          <mat-error>Field is required</mat-error>
        }
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="null">Cancel</button>
  <button mat-button (click)="submit()" cdkFocusInitial>Save</button>
</mat-dialog-actions>
