<div class="container">
  <div class="row p-4">
    <div class="col-6">
      <!--      <app-form-control label="Email:">-->
      <!--        <input matInput [formControl]="usernameControl">-->
      <!--      </app-form-control>-->

      <!--      <form [formGroup]="formGroup">-->
      <!--        <app-form-control label="Email:">-->
      <!--          <input matInput formControlName="username">-->
      <!--        </app-form-control>-->
      <!--      </form>-->

      <!--      <mat-form-field appearance="outline">-->
      <!--        <input matInput placeholder="Placeholder">-->
      <!--      </mat-form-field>-->


      <!--      <app-mat-field>-->
      <!--        <input matInput placeholder="Login">-->
      <!--      </app-mat-field>-->
      <form [formGroup]="formGroup">
        <app-input-field
          formControlName="username"
          label="Username"
          placeholder="Enter your username"
        ></app-input-field>
      </form>
    </div>
  </div>
</div>
