<div class="footer">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 px-4 border-top">
    <p *ngIf="stoInfo">
    <ul class="nav col-md-4 justify-content-start">
      <li class="nav-item"><strong class="nav-link px-2 text-body-secondary">© 2024 SpeedyFix</strong></li>
      <li class="nav-item"><strong class="nav-link px-2 text-body-secondary" style="color: white">Operating Hours: {{ stoInfo.startTime }} - {{ stoInfo.endTime }}</strong> </li>
      <li class="nav-item"><strong class="nav-link px-2 text-body-secondary" style="color: white">Weekend: {{ stoInfo.weekend }}</strong></li>
    </ul>
    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <img src="assets/speedyfix-text-logo.png" alt="" width="72" height="57">
    </a>
    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
    </ul>
  </footer>
</div>
