<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="assets/speedyfix-text-logo.png" alt="" width="130" height="100">
  <h1 class="display-5 fw-bold text-body-emphasis">Speedy Fix</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      We specialize in fast, reliable car repairs and maintenance services to keep you safe on the road. From oil changes and tire rotations to advanced diagnostics and engine repairs, our team of certified professionals ensures top-notch service for every vehicle. Trust SpeedyFix for unbeatable quality and efficiency.
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button routerLink="login" type="button" class="btn btn-primary btn-lg px-4 gap-3">Log In</button>
      <button routerLink="sign-up" type="button" class="btn btn-outline-secondary btn-lg px-4">Sign Up</button>
    </div>
  </div>
</div>
